/vendor
/node_modules
/public/storage
/storage
/bootstrap
/bootstrap/cache
/config/database.php
/public/resources/driver/license/
/public/resources/national_id/
/public/resources/national_id_back/
/public/resources/profile_image/
/public/resources/front_image/*
/public/resources/hub_image/*
/public/resources/route_image/
/public/resources/vehicle_type/
/public/resources/vehicle/fitness/
/public/resources/vehicle/insurance/
/public/resources/vehicle/objection/
/public/resources/vehicle/registration/
/public/resources/vehicle/tax_token/
/public/resources/profile_pic/
/public/resources/outlet_category/
/public/resources/company_logo/
/public/resources/push_notification/
/public/resources/exports/*
/public/resources/partner_companies/logo/
/public/resources/partner_companies/featured/
/public/resources/partner_companies/category/
/public/resources/outlet/
/public/resources/front_image/
/public/exports
/public/vendor
/public/resources/expense_attachment/*
/resources/views/vendor
Homestead.yaml
Homestead.json
.env
.idea
error_log
.project
index.html.save
public/error_log
composer.lock